body {
    background-color: antiquewhite;
}

.caixa {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 25px;
    justify-items: space-between;
    text-align: center;
    gap: 90px;
}

.foto {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

img {
    border: 5px solid black;
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    width: 300px;  
    text-align: center;
}

.lista {
    text-align: center;
} 

.bolinha {
    border: 2px solid black;
    border-radius: 50%;
    height: 10px;
    object-fit: cover;
    width: 10px; 
}

.caixa2 {
    text-align: center;
}

.caixa3 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bola {
    border: 2px solid black;
    border-radius: 50%;
    height: 110px;
    object-fit: cover;
    width: 110px; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

p {
    font-size: 25px;
}

#cor1 {
    background-color: orange;
}

#cor2 {
    background-color: red;
}

#cor3 {
    background-color: lightblue;
}

#cor4 {
    background-color: lightgreen;
}